$dark-bg: #1e202a;
$dark-card: #252a41;
$white: #ffffff;
$dark-card-hover: #343b56;
$bold: 700;
$light-text: #63677e;
$input-bg: #aeb3cb;
$cheked-bg: linear-gradient(90deg, rgba(56,156,212,1) 0%, rgba(60,201,152,1) 100%);
$black: #000000;
$normal-card: #f0f2fa;
$normal-card-hover: #e0e4f0;
$fb-color: #198ff5;
$twitter-color: #1ca0f2;
$insta-color: linear-gradient(90deg, rgba(252,192,105,1) 0%, rgba(226,85,145,1) 100%);
$youtube-color: #c4032a;
$arrow-green: #1db489;
$arrow-red: #dc414c;